##
# kardeş yazılım ve danışmanlık hizmetleri 
# carinaerp v.1.3b
# 
##kardesyazilim.net labs@kardesyazilim.net     [title]("Kardeş Yazılım ve Danışmanlık Hizmetleri") 
##carinaerp.net labs@carinaerp.net             [title]("Carina ERP systems")
##istanbulmobile.net labs@istanbulmobile.net   [title]("Istanbul Mobile - HTML5 to use today")
##redent.net labs@redent.net                   [title]("red interactive entertainment corp. game architecture & gamification research")
##                                             [title]("intelligent robotics research")
##
# dept : labs
# p_debp: hard
# pivot : 2.9
# pivot orjin : 0 
# sigma : 2
# sigma orgin: -+6
#
#
# carina_project_id : CLSQL-ENT01-B2CCONSOLEMANAGER-1301
# finger : 6ed919c7ed075bbf8e3362011fda1a7e
# project markado
# markado.com
# company_contact: erhan.guvenin@markado.com gultekin.komanli@markado.com
# url : markado.com
##






