# kardeş yazılım ve danışmanlık hizmetleri 
# carinaerp v.1.3b
# kardesyazilim.net leo@kardesyazilim.net
# carinaerp.net leo@carinaerp.net
# istanbulmobile.net leo@istanbulmobile.net
# project markado
# markado.com
# dept : labs
# p_debp: hard
# pivot : 2.9
# sigma : 2
# company_contact: erhan.guvenin@markado.com gultekin.komanli@markado.com
# url : markado.com





